.nav__links {
  position: fixed;
  top: 0;
  right: 100%;
  bottom: 0;
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  overflow: hidden;
  background-color: var(--bg-transparent-5);
  z-index: 100;
  padding-top: 6.4rem;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  transition: right var(--transition-duration) var(--transition-timing);
}

.nav__list {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 2rem 1rem;
  background-color: var(--bg-color);
}

.nav__item {
  width: 100%;
}

.nav__link {
  background-color: var(--bg-color);
  border-radius: 8px;
  border: 1px solid var(--white-transparent);
  font-size: 1.6rem;
  width: 100%;
  display: grid;
  place-content: center;
  text-wrap: nowrap;
  padding: 1rem 2rem;
}

.active {
  right: 0rem;
  /* left: 1.2rem; */
}

@media (width >= 768px) {
  .nav__links {
    display: none;
  }
}
