.skills__content {
	width: 100%;
}

.skills__list {
	--min-grid-size: 275px;

	width: 100%;
	display: grid;
	grid-template-columns: repeat(
		auto-fit,
		minmax(min(var(--min-grid-size), 100%), 1fr)
	);
	gap: 2.4rem;
	margin-block: 2.4rem;
}

@media (width >= 768px) {
	.skills__list {
		width: 100%;
	}

	.skills__list > * {
		flex-basis: calc(100% / 3);
	}

	.skills__list {
		gap: 4rem;
	}
}
