.skill__list {
  display: grid;
}

.skill__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  padding-block: 2em;
  border: 1px solid var(--white-transparent);
  border-radius: 8px;

  svg {
    width: 8rem;
    fill: var(--primary-color);

    .st1 {
      fill: var(--bg-color);
    }
  }

  span {
    font-size: 1.4rem;
    font-family: var(--Switzer-bold);
  }
}

@media (width >= 768px) {
  .skill__item img {
    width: 8rem;
  }
}
